
<BottomNavigation selectedIndex="1">
    <TabStrip>
        <TabStripItem>
            <!--
                Note TabStripItem will only accept single Label and/or single Image elements that it
                will "adopt"; any other layout elements you try to specify will be ignored
            -->
            <!-- <Label text="Home"></Label> -->
            <Image src="res://homehome" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <!-- <Label text="Browse"></Label> -->
            <Image src="res://futbolsolid" class="far t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <!-- <Label text="Search"></Label> -->
            <Image src="res://newspapernews" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <!-- <Label text="Lol"></Label> -->
            <Image src="res://teams" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <!-- <Label text="Lol"></Label> -->
            <Image src="res://userme" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
       <!-- <page-router-outlet></page-router-outlet> -->
       <HomeComponent></HomeComponent>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet ></page-router-outlet>
     </TabContentItem>

    <!-- <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
     </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
     </TabContentItem>

     <TabContentItem>
        <page-router-outlet name="homeTab"></page-router-outlet>
     </TabContentItem> -->


</BottomNavigation>
